html.lenis,
html.lenis body {
	height: auto;
}
.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.no-home .nav_menu {
	display: none !important;
}

// HERO SECTION ================================
.mask-hero-video svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// TIMELINE SECTION ================================
.timeline-years .swiper-wrapper .swiper-slide.swiper-slide-thumb-active .year-item {
	opacity: 1;
}
.timeline-years .swiper-wrapper .swiper-slide:first-child .year-item .year-marker .year-marker_line {
	inset: 50%;
	width: 50%;
}
.timeline-years .swiper-wrapper .swiper-slide:last-child .year-item .year-marker .year-marker_line {
	width: 50%;
}

// TRANSFORM SECTION ================================
.transform-list_item:last-child {
	margin-bottom: 0;
}

@media (max-width: 991px) {
	.transform-media {
		position: sticky;
		top: 5rem;
		z-index: 10;
		width: 100%;
		height: 60vw;
		max-height: 30vh;
	}

	.transform-media-inner {
		height: 100%;
		overflow: hidden;
	}
}

// NEW LOGO SECTION ================================
.newlogo-video-wrapper video {
	margin-bottom: -8px;
}

// FEATURES SECTION ================================
.feature-item.active .feature-item_text-wrap {
	height: auto;
	min-height: 88px;
	opacity: 1;
}

.feature-media_wrapper {
	overflow: hidden;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: url(https://cdn.prod.website-files.com/699c894f6ea1848bd8955d95/69c6769174719cdcbd30ace5_line-overlay.png) no-repeat center center / cover;
	}
}

// FANCYBOX — Controles do player alinhados ao vídeo
.fancybox__slide.has-html,
.fancybox__slide.has-video {
	.fancybox__content {
		width: fit-content;
		max-width: 90vw;

		video {
			display: block;
			max-width: 100%;
			max-height: 80vh;
		}
	}
}

// NAVBAR — Fade na cor de fundo
.navbar {
	transition: background-color 0.4s ease;

	&.is-scrolled {
		background-color: #002256;
	}
}
